//Comic
@font-face {
    font-family: "Comic";
    src: url('../../assets/fonts/Comic/COMIC.TTF') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comic";
    src: url('../../assets/fonts/Comic/COMICI.TTF') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Comic";
    src: url('../../assets/fonts/Comic/COMICBD.TTF') format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Comic";
    src: url('../../assets/fonts/Comic/COMICZ.TTF') format("truetype");
    font-weight: 500;
    font-style: italic;
}